.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  color: white;
}

.menu {
  width: 36%;
  height: 100%;
  align-items: center;
  overflow: hidden;
}

.contentWrapper {
  height: 90%;
  width: 100%;
}

.contentContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.layout {
  height: 100%;
  width: 100%;
}

.homeContainer {
  width: 100%;
  height: 100%;
  padding: 10px 30px;
}

.headerWrapper {
  height: 8%;
}