* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tCenter {
  text-align: center;
}

.noMargPad {
  margin: 0;
  padding: 0;
}

.fullHW {
  height: 100%;
  width: 100%;
}
